
.text-center {

}
.btn{
    background: #449d44;
}.rounded {
    width: 15%;
}
h4error{
    color: #c9302c;
}
h4.serif {
  font-family: "Times New Roman", Times, serif;
    color: #0275d8;
}